<h2><%= @user.email %>'s Posts</h2>
<ul>
<% @articles.each do |article| %>
<li>
<%= article.title %>
    <%= link_to "Delete Article", admin_delete_article_path(article), method: :delete, data: { confirm: "Delete this post?" } %>
</li>
<% end %>
</ul> 
<%= link_to "Back to Dashboard", admin_dashboard_path %>
 